<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="page-header">
            <h1>User Account</h1>
        </div>
        <div>
            <div>Name: {{userName}} </div>
            <div>Email: {{userEmail}} </div>
            <div>Name: {{businessName}} </div>
            <div>Email: {{phoneNumber}} </div>
        </div>
        
    </div>
    <div class="col-sm-3"></div>
</div>
<div>
    <div type="button" class="btn btn-primary" ng-click="CreateJob()">Create Open Job</div>
</div>